page-language {
    .bg-image{
        background-image:  url('../../assets/imgs/download.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size:contain;
    }
}
